/*Christian Fernández Noriega UO282650*/
/*Estilos generales del proyecto MotoGP-Desktop*/
/*Sobre la gama cromática:
    ---
    *Color general de texto: #3A5673
    *Color general de fondo: #FDF7F7
    Ratio de contraste: 7.18:1
    ---
    *Color de fondo del header: #D1F7FA
    *Color de texto de los elementos del header: #1D5763
    Ratio de contraste: 7.08:1
    ---
*/

/*Especificidad 012*/
header a:hover{
    text-decoration-line: underline;
}

/*Especificidad 011*/
/*Warning: Hay un color de primer plano establecido 
y no hay color de fondo
Justificación: El color de fondo se hereda mediante 
cascada del elemento padre "header"*/
a.active {
    color: #3A5673;
    font-weight: bold;
}

/*Especificidad 002*/
header + p {
    font-size: 0.75em;
}

/*Especificidad 002*/
/*Warning: Hay un color de primer plano establecido 
y no hay color de fondo
Justificación: El color de fondo se hereda mediante 
cascada del elemento padre "header"*/
header a {
    text-decoration-line: none;
    color: #1D5763;
}
 
/*Especificidad 001*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDF7F7;
    color: #3A5673;
}

/*Especificidad 001*/
/*Warning: Hay un color de fondo establecido 
y no hay color de primer plano
Justificación: El color de primer plano se hereda mediante 
cascada del elemento padre "body"*/
header {
    background-color: #D1F7FA;
    padding: 0.5em 1.5em;
}