/*Christian Fernández Noriega UO282650*/
/*Estilos generales del proyecto MotoGP-Desktop*/
/*Sobre la gama cromática:
    ---
    *Color general de texto: #3A5673
    *Color general de fondo: #FDF7F7
    Ratio de contraste: 7.18:1
    ---
    *Color de fondo del header: #D1F7FA
    *Color de texto de los elementos del header: #1D5763
    Ratio de contraste: 7.08:1
    ---
*/
 
/*Especificidad 001*/
body {font-family: Arial, Helvetica, sans-serif;
    background-color: #FDF7F7;
    color: #3A5673;
}

/*Especificidad 001*/
/*Warning: Hay un color de fondo establecido y 
no hay color de primer plano
Justificación: El color del primer plano se
hereda a través del elemento padre 'body' con
la propiedad 'color' mediante cascada*/
header {
    background-color: #D1F7FA;
}

/*Especificidad 001*/
/*Warning: Hay un color de primer plano establecido 
y no hay color de fondo (El warning es doble, puesto que 
uno se refiere a 'h1' y otro a 'nav')
Justificación: El color de fondo se
hereda a través del elemento padre 'header' con
la propiedad 'background-color' mediante cascada 
(Porque establecimos que 'h1' y 'nav' solamente
están dentro del elemento 'header' en nuestra página,
si no, heredarían de 'body')*/
h1, nav {
    color: #1D5763;
}