/*Especificidad 001*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

/*Especificidad 001*/
nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.85em;
}

@media (min-width: 320px) and (max-width: 799px) {

    /*Especificidad 002*/
    header + p {
        display: none;
    }

    /*Especificidad 001*/
    /*Warning: Redefinición de flex-direction
    Justificación: Comportamiento esperado dada
    la condición de la media query*/
    header {
        flex-direction: column;
    }

    /*Especificidad 001*/
    /*Warning: Redefinición de flex-direction
    Justificación: Comportamiento esperado dada
    la condición de la media query*/
    nav {
        flex-direction: column;
    }

    /*Especificidad 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad 001*/
    audio {
        width: 100%;
    }
}